.education {
  background: #0c0f0f;

  &-title {
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    margin: 0;
    font-size: 40px;
    cursor: default;
  }

  &__content {
    background: #7c0d0d;

    &-item {
      padding: 20px 100px;

      &:first-of-type {
        border-bottom: 2px solid white;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

    &-title {
      font-size: 25px;
      font-weight: 700;
      color: #ffffff;
    }

    &-year {
      margin: 0;
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;

      span {
        font-size: 10px;
        padding-left: 20px;
      }
    }

    &-course {
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
    }

    &-imgBox {
      background: #ffffff;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-ilova {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      cursor: zoom-in;

      img {
        max-height: 100%;
      }
    }
  }
}