.backend {
  background: #0c0f0f;
  color: #ffffff;
  padding: 30px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 40px;
      text-align: center;
      cursor: default;
      margin: 30px 0;
    }

    &-card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      gap: 30px;
      padding: 0 40px;
      border-right: 0px solid #344453;
      text-decoration: none;
      color: #ffffff;
      transition: .3s;

      &:hover {
        .backend__content-info {
          transform: translateX(-40px);
        }

        .backend__content-img {
          transform: translateX(-40px) rotateY(180deg);
        }
      }
    }

    &-img {
      width: 20%;
      transform: rotateY(180deg);
      transition: .3s;
    }

    &-info {
      width: 80%;
      padding: 20px 30px;
      background: #344453;
      border-radius: 10px;
      transition: .3s;

      h2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }

    &-logo {
      height: 30px;
    }

    &-pagenation {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    &-page {
      background: #344453;
      width: 40px;
      height: 30px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: #cc3131;
      }
    }
  }
}