.call {
  &__content {
    display: flex;

    &-resume, &-phone {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 21px 0;
      transition: .3s;
      cursor: pointer;
      font-size: 22px;
      color: #ffffff;
      font-weight: bold;
      transition: .3s;
      text-decoration: none;

      &:hover {
        background: #ffffff;
        color: #000000;
      }
    }

    &-resume {
      background: #7c0d0d;

    }

    &-phone {
      background: #000000;
    }

  }
}